@page
@model FitMindAI.Areas.Members.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Üye Kayıt";
}

<h1>@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post">
            <h2>Yeni hesap olusturun</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" autocomplete="name" aria-required="true" placeholder="Ad Soyad" />
                <label asp-for="Input.FullName">Ad Soyad</label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Sifre" />
                <label asp-for="Input.Password">Sifre</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Sifre Tekrar" />
                <label asp-for="Input.ConfirmPassword">Sifre Tekrar</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Kayit Ol</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
